In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import numpy as np
import pandas as pd
import math

### Data Summary:
* carat　：Carat weight of the diamond
* cut　：Describe cut quality of the diamond. Quality in increasing order Fair, Good, Very Good, Premium, Ideal
* color　：Color of the diamond, with D being the best and J the worst
* clarity　：How obvious inclusions are within the diamond:(in order from best to worst, FL = flawless, I3= level 3 inclusions) FL,IF, VVS1,
* depth　：depth %　The height of a diamond, measured from the culet to the table, divided by its average girdle diameter 
（total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)）
* table　：table　% The width of the diamond's table expressed as a percentage of its average diameter
* price　：the price of the diamond
* x　：length mm
* y　：width mm
* z　：depth in mm

In [81]:
# loading data
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/回歸/diamonds.csv')

In [5]:
data.head(10)

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
5,6,0.24,Very Good,J,VVS2,62.8,57.0,336,3.94,3.96,2.48
6,7,0.24,Very Good,I,VVS1,62.3,57.0,336,3.95,3.98,2.47
7,8,0.26,Very Good,H,SI1,61.9,55.0,337,4.07,4.11,2.53
8,9,0.22,Fair,E,VS2,65.1,61.0,337,3.87,3.78,2.49
9,10,0.23,Very Good,H,VS1,59.4,61.0,338,4.00,4.05,2.39

In [82]:
# validate data
data.info() # 53940 * 10
print('-' * 40) 
data.isna().any() # no need to deal with missing values
data = data.iloc[:,1:]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  53940 non-null  int64
 1   carat       53940 non-null  float64
 2   cut         53940 non-null  object
 3   color       53940 non-null  object
 4   clarity     53940 non-null  object
 5   depth       53940 non-null  float64
 6   table       53940 non-null  float64
 7   price       53940 non-null  int64
 8   x           53940 non-null  float64
 9   y           53940 non-null  float64
 10  z           53940 non-null  float64
dtypes: float64(6), int64(2), object(3)
memory usage: 4.5+ MB
----------------------------------------

In [86]:
data.describe()

,carat,depth,table,price,x,y,z
count,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000,53940.000000
mean,0.797940,61.749405,57.457184,3932.799722,5.731157,5.734526,3.538734
std,0.474011,1.432621,2.234491,3989.439738,1.121761,1.142135,0.705699
min,0.200000,43.000000,43.000000,326.000000,0.000000,0.000000,0.000000
25%,0.400000,61.000000,56.000000,950.000000,4.710000,4.720000,2.910000
50%,0.700000,61.800000,57.000000,2401.000000,5.700000,5.710000,3.530000
75%,1.040000,62.500000,59.000000,5324.250000,6.540000,6.540000,4.040000
max,5.010000,79.000000,95.000000,18823.000000,10.740000,58.900000,31.800000

In [8]:
data = data[ data['x'] > 1 ]

In [9]:
corr_metrics = data.iloc[:,[0,4,5,6,7,8,9]].corr()
corr_metrics.style.background_gradient()
# by this table, consider throw away depth/table two variables

In [10]:
corr_metrics = data.iloc[:,[0,4,5,6,7,8,9]].describe().corr()
corr_metrics.style.background_gradient()

In [11]:
# preprocessing: for linear model, transform data to scaler form 
from sklearn.preprocessing import MinMaxScaler

data[['carat', 'depth', 'table', 'x', 'y', 'z', 'price']]
scaler = MinMaxScaler()

data[['carat', 'depth', 'table', 'x', 'y', 'z', 'price']] = scaler.fit_transform(data[['carat', 'depth', 'table', 'x', 'y', 'z', 'price']])
data.head()

,carat,cut,color,clarity,depth,table,price,x,y,z
0,0.006237,Ideal,E,SI2,0.513889,0.230769,0.000000,0.031384,0.005433,0.076415
1,0.002079,Premium,E,SI1,0.466667,0.346154,0.000000,0.022825,0.002898,0.072642
2,0.006237,Good,E,VS1,0.386111,0.423077,0.000054,0.045649,0.007063,0.072642
3,0.018711,Premium,I,VS2,0.538889,0.288462,0.000433,0.067047,0.009960,0.082704
4,0.022869,Good,J,SI2,0.563889,0.288462,0.000487,0.087019,0.012133,0.086478

In [12]:
X = data.loc[:,['carat', 'depth', 'table', 'x', 'y', 'z']]
Y = data.loc[:,'price']
len(X)
len(Y)

53932

In [13]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.pipeline import Pipeline


# Select evaluation metric
metric = 'neg_mean_squared_error'

# Select models
models = []
models.append(('LR', LinearRegression()))
models.append(('LASSO', Lasso()))
models.append(('EN', ElasticNet()))
models.append(('KNN', KNeighborsRegressor()))
models.append(('CART', DecisionTreeRegressor()))
models.append(('SVR', SVR()))

# Evaluate each model in turn
results = []
names = []
for name, model in models:
    kfold = KFold(5)
    cv_results = cross_val_score(model, X, Y, cv=kfold, scoring=metric)
    results.append(cv_results)
    names.append(name)
    msg = "%s model: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)
# Without considering catergorical variables, Linear regression has the best performance

LR model: -0.010237 (0.012348)
LASSO model: -0.055983 (0.062337)
EN model: -0.055983 (0.062337)
KNN model: -0.018510 (0.021631)
CART model: -0.021772 (0.021512)
SVR model: -0.017821 (0.022768)

In [20]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
# consider VIF test
# VIF dataframe
column_pair = ['depth','table','carat','x','y','z']
X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

  feature         VIF
0   depth  183.036483
1   table   34.323580
2   carat   56.893441
3       x  247.298685
4       y   87.663388
5       z  505.350505

In [21]:
vif_data = pd.DataFrame()
column_pair = ['depth','table','carat','x','y']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

  feature         VIF
0   depth   29.193289
1   table   31.531110
2   carat   55.761942
3       x  171.101736
4       y   85.715456

In [22]:
vif_data = pd.DataFrame()
column_pair = ['depth','table','carat','y']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

  feature        VIF
0   depth  28.867910
1   table  30.198617
2   carat  27.741500
3       y  45.473998

In [23]:
vif_data = pd.DataFrame()
column_pair = ['depth','table','carat']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

  feature        VIF
0   depth  28.024084
1   table  29.086011
2   carat   2.684723

In [24]:
vif_data = pd.DataFrame()
column_pair = ['depth','carat']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)

  feature       VIF
0   depth  2.581261
1   carat  2.581261

In [25]:
# find exact parameters of linear regression
import statsmodels.formula.api as smf
# use unprocess data 
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/回歸/diamonds.csv')
data = data[data['x'] > 1]
results = smf.ols('price ~ carat+depth+table+x+y+z ' , data = data).fit()
# print(results.params)
# pred = results.predict(data)
print(results.summary())

results = smf.ols('price ~ carat+depth ' , data = data).fit()
# pred1 = results.predict(data)
print(results.summary())

# R-squared form 0.86 to 0.851, so we don't need this many variables to predict the price

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.860
Model:                            OLS   Adj. R-squared:                  0.860
Method:                 Least Squares   F-statistic:                 5.507e+04
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        06:02:08   Log-Likelihood:            -4.7073e+05
No. Observations:               53932   AIC:                         9.415e+05
Df Residuals:                   53925   BIC:                         9.415e+05
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   2.159e+04    450.303     47.954      0.000    2.07e+04    2.25e+04
carat       1.099e+04     66.926    164.149      0.000    1.09e+04    1.11e+04
depth       -207.5218      5.505    -37.699      0.000    -218.311    -196.733
table       -102.0065      3.079    -33.128      0.000    -108.042     -95.971
x          -1455.0330     44.193    -32.925      0.000   -1541.652   -1368.414
y             82.1595     25.628      3.206      0.001      31.927     132.391
z             33.1330     44.229      0.749      0.454     -53.557     119.823
==============================================================================
Omnibus:                    14154.131   Durbin-Watson:                   1.271
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           409022.705
Skew:                           0.652   Prob(JB):                         0.00
Kurtosis:                      16.428   Cond. No.                     5.96e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 5.96e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.851
Model:                            OLS   Adj. R-squared:                  0.851
Method:                 Least Squares   F-statistic:                 1.537e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        06:02:08   Log-Likelihood:            -4.7240e+05
No. Observations:               53932   AIC:                         9.448e+05
Df Residuals:                   53929   BIC:                         9.448e+05
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   4048.6046    286.162     14.148      0.000    3487.725    4609.484
carat       7764.3506     14.007    554.321      0.000    7736.897    7791.804
depth       -102.2114      4.635    -22.054      0.000    -111.295     -93.128
==============================================================================
Omnibus:                    14132.780   Durbin-Watson:                   0.992
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           148053.077
Skew:                           0.961   Prob(JB):                         0.00
Kurtosis:                      10.886   Cond. No.                     2.66e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.66e+03. This might indicate that there are
strong multicollinearity or other numerical problems.

In [ ]:
# plot depth and carat with price to see if we can do some transformation
import matplotlib.pyplot as plt
plt.scatter(data['depth'] , data['price'], alpha = 0.6)

In [ ]:
plt.scatter(data['carat'] , data['price'], alpha = 0.6)

In [ ]:
plt.scatter( np.log2(data['carat']) , np.log2(data['price']), alpha = 0.6)
# looks like we can use log for transformation

In [88]:
# consider quadratic
data['c2'] = data['carat']**2
data['d2'] = data['depth']**2
data['logd'] = np.log2(data['depth']) 
data['logc'] = np.log2(data['carat']) 
data['logp'] = np.log2(data['price'])

results = smf.ols('price ~ carat+depth+c2+d2 ' , data = data).fit()
print(results.summary()) # 0.855
results = smf.ols('logp ~ carat+depth+c2+d2+logc+logd ' , data = data).fit()
print(results.summary()) # 0.938

# After take log to data, we have some improve on R-squared

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.855
Model:                            OLS   Adj. R-squared:                  0.855
Method:                 Least Squares   F-statistic:                 7.970e+04
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        06:55:27   Log-Likelihood:            -4.7164e+05
No. Observations:               53940   AIC:                         9.433e+05
Df Residuals:                   53935   BIC:                         9.433e+05
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept  -1.418e+05   4383.810    -32.337      0.000    -1.5e+05   -1.33e+05
carat       6766.2961     45.787    147.779      0.000    6676.554    6856.038
depth       4639.3939    141.945     32.684      0.000    4361.181    4917.607
c2           489.5536     20.521     23.856      0.000     449.331     529.776
d2           -38.4293      1.150    -33.418      0.000     -40.683     -36.175
==============================================================================
Omnibus:                    15302.127   Durbin-Watson:                   1.139
Prob(Omnibus):                  0.000   Jarque-Bera (JB):           336087.855
Skew:                           0.844   Prob(JB):                         0.00
Kurtosis:                      15.111   Cond. No.                     2.56e+06
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 2.56e+06. This might indicate that there are
strong multicollinearity or other numerical problems.
                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.938
Model:                            OLS   Adj. R-squared:                  0.938
Method:                 Least Squares   F-statistic:                 1.353e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        06:55:27   Log-Likelihood:                -22227.
No. Observations:               53940   AIC:                         4.447e+04
Df Residuals:                   53933   BIC:                         4.453e+04
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    119.4889     42.407      2.818      0.005      36.372     202.606
carat          2.0203      0.050     40.108      0.000       1.922       2.119
depth          2.9613      0.534      5.549      0.000       1.915       4.007
c2            -0.5224      0.012    -43.932      0.000      -0.546      -0.499
d2            -0.0170      0.002     -7.738      0.000      -0.021      -0.013
logc           1.1423      0.015     74.282      0.000       1.112       1.172
logd         -38.1287     11.258     -3.387      0.001     -60.195     -16.062
==============================================================================
Omnibus:                     2725.075   Durbin-Watson:                   1.228
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8002.540
Skew:                           0.232   Prob(JB):                         0.00
Kurtosis:                       4.829   Cond. No.                     1.07e+08
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.07e+08. This might indicate that there are
strong multicollinearity or other numerical problems.

In [46]:
vif_data = pd.DataFrame()
column_pair = ['depth','carat','c2','d2','logc','logd']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)
# not singnificant on VIF-test

  feature           VIF
0   depth  3.468777e+06
1   carat  8.827680e+02
2      c2  1.061139e+02
3      d2  6.462211e+05
4    logc  9.903700e+01
5    logd  1.122402e+06

In [138]:
# see if there is a colinear problem
vif_data = pd.DataFrame()
column_pair = ['carat','c2','d2','logc','logd']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)
# not singnificant on VIF-test

  feature          VIF
0   carat   882.557461
1      c2   106.099848
2      d2   619.799816
3    logc    98.928422
4    logd  1423.657582

In [139]:
# see if there is a colinear problem
vif_data = pd.DataFrame()
column_pair = ['carat','c2','d2','logc']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)
# not singnificant on VIF-test

  feature         VIF
0   carat  381.148986
1      c2   51.488785
2      d2  261.068439
3    logc   42.642247

In [141]:
# see if there is a colinear problem
vif_data = pd.DataFrame()
column_pair = ['c2','d2','logc']

X = data[column_pair].fillna(0)
vif_data = pd.DataFrame()
vif_data["feature"] = column_pair


# calculating VIF for each feature
vif_data["VIF"] = [variance_inflation_factor(X.values, i)
                          for i in range(len(X.columns))]
print(vif_data)
# not singnificant on VIF-test

  feature       VIF
0      c2  5.333910
1      d2  7.490456
2    logc  4.647904

In [142]:
results = smf.ols('logp ~ c2+d2+logc ' , data = data).fit()
print(results.summary()) # 0.934

# multicollinearity

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.934
Model:                            OLS   Adj. R-squared:                  0.934
Method:                 Least Squares   F-statistic:                 2.561e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:11:41   Log-Likelihood:                -23618.
No. Observations:               53940   AIC:                         4.724e+04
Df Residuals:                   53936   BIC:                         4.728e+04
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     13.2139      0.035    375.794      0.000      13.145      13.283
c2            -0.0574      0.003    -20.853      0.000      -0.063      -0.052
d2            -0.0002   9.13e-06    -26.994      0.000      -0.000      -0.000
logc           1.7373      0.003    503.913      0.000       1.731       1.744
==============================================================================
Omnibus:                      601.229   Durbin-Watson:                   1.183
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              918.875
Skew:                           0.114   Prob(JB):                    2.94e-200
Kurtosis:                       3.598   Cond. No.                     8.32e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.32e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [149]:
results = smf.ols('logp ~ logc ' , data = data).fit()
print(results.summary()) # 0.934

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.933
Model:                            OLS   Adj. R-squared:                  0.933
Method:                 Least Squares   F-statistic:                 7.510e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:18:38   Log-Likelihood:                -24194.
No. Observations:               53940   AIC:                         4.839e+04
Df Residuals:                   53938   BIC:                         4.841e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     12.1888      0.002   6190.896      0.000      12.185      12.193
logc           1.6758      0.002    866.590      0.000       1.672       1.680
==============================================================================
Omnibus:                      877.676   Durbin-Watson:                   1.227
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1679.882
Skew:                           0.072   Prob(JB):                         0.00
Kurtosis:                       3.853   Cond. No.                         1.88
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [87]:
data.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [96]:
sum((data['carat'] > 0.5) & (data['carat'] < 1))
#sum(data['carat'] < 0.5)

15948

In [99]:
# consider logistic regression in categorical variables:(clarity cut color)
data.loc[(data['carat'] > 0.5) & (data['carat'] < 1)].loc[:,['price','clarity']].groupby('clarity').mean()

               price
clarity
I1       1612.505882
IF       3066.409253
SI1      2522.668511
SI2      2470.981209
VS1      2692.208937
VS2      2507.316900
VVS1     2944.524966
VVS2     2750.727127

In [107]:
data.loc[(data['carat'] < 0.5 ) & (data['carat'] > 0.2)].loc[:,['price','clarity']].groupby('clarity').mean()
#smaller on l1, bigger on IF、VVS1、VVS2

              price
clarity
I1       576.230769
IF       999.285020
SI1      682.264003
SI2      611.875244
VS1      789.575709
VS2      758.487362
VVS1     927.181593
VVS2     835.142582

In [123]:
#use one hot coding for creating dummy variables
dummy_cla = pd.get_dummies(data['clarity'])
fr = [data, dummy_cla]
data = pd.concat(fr , axis = 1)

In [100]:
data.loc[(data['carat'] > 0.5) & (data['carat'] < 1)].loc[:,['price','cut']].groupby('cut').mean()

                 price
cut
Fair       2434.795000
Good       2658.440373
Ideal      2502.379632
Premium    2562.238052
Very Good  2689.398674

In [108]:
data.loc[(data['carat'] < 0.5 ) & (data['carat'] > 0.2)].loc[:,['price','cut']].groupby('cut').mean()
#not very significant on price

                price
cut
Fair       894.575221
Good       694.350790
Ideal      831.091667
Premium    818.374442
Very Good  699.029809

In [179]:
dummy_cut = pd.get_dummies(data['cut'])
fr = [data, dummy_cut]
data = pd.concat(fr , axis = 1)

In [102]:
data.loc[(data['carat'] > 0.5) & (data['carat'] < 1)].loc[:,['price','color']].groupby('color').mean()

             price
color
D      2786.208316
E      2640.894626
F      2640.710369
G      2498.078998
H      2544.046844
I      2350.022607
J      2039.926217

In [124]:
data.loc[(data['carat'] < 0.5) & (data['carat'] > 0.2)].loc[:,['price','color']].groupby('color').mean()
#smaller on J

            price
color
D      846.102179
E      829.030722
F      835.602398
G      809.687132
H      700.854419
I      644.230346
J      596.126147

In [125]:
dummy_col = pd.get_dummies(data['color'])
fr = [data, dummy_col]
data = pd.concat(fr , axis = 1)

In [150]:
results = smf.ols('logp ~ logc+I1+IF+SI1+SI2+VS1+VS2+VVS1+VVS2 ' , data = data).fit()
print(results.summary()) # 0.965

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.965
Model:                            OLS   Adj. R-squared:                  0.965
Method:                 Least Squares   F-statistic:                 1.879e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:19:12   Log-Likelihood:                -6391.4
No. Observations:               53940   AIC:                         1.280e+04
Df Residuals:                   53931   BIC:                         1.288e+04
Df Model:                           8
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.8951      0.002   6066.426      0.000      10.892      10.899
logc           1.8064      0.002   1193.228      0.000       1.803       1.809
I1             0.3120      0.009     34.502      0.000       0.294       0.330
IF             1.9200      0.006    321.340      0.000       1.908       1.932
SI1            1.2130      0.003    458.980      0.000       1.208       1.218
SI2            1.0040      0.003    328.305      0.000       0.998       1.010
VS1            1.4956      0.003    481.522      0.000       1.490       1.502
VS2            1.4304      0.003    530.911      0.000       1.425       1.436
VVS1           1.7955      0.004    409.375      0.000       1.787       1.804
VVS2           1.7247      0.004    455.403      0.000       1.717       1.732
==============================================================================
Omnibus:                      768.801   Durbin-Watson:                   1.350
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1169.810
Skew:                          -0.155   Prob(JB):                    9.53e-255
Kurtosis:                       3.652   Cond. No.                     5.15e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 3.51e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [151]:
results = smf.ols('logp ~ logc+D+E+F+G+H+I+J ' , data = data).fit()
print(results.summary())
# R-squared improved : 0.945

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.945
Model:                            OLS   Adj. R-squared:                  0.945
Method:                 Least Squares   F-statistic:                 1.333e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:20:01   Log-Likelihood:                -18689.
No. Observations:               53940   AIC:                         3.739e+04
Df Residuals:                   53932   BIC:                         3.747e+04
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.6375      0.002   6550.189      0.000      10.634      10.641
logc           1.7286      0.002    952.727      0.000       1.725       1.732
D              1.7293      0.004    440.393      0.000       1.722       1.737
E              1.6926      0.003    500.309      0.000       1.686       1.699
F              1.6796      0.003    498.012      0.000       1.673       1.686
G              1.6494      0.003    524.291      0.000       1.643       1.656
H              1.4554      0.004    409.960      0.000       1.448       1.462
I              1.3153      0.004    306.902      0.000       1.307       1.324
J              1.1161      0.006    191.659      0.000       1.105       1.127
==============================================================================
Omnibus:                     1590.170   Durbin-Watson:                   1.222
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             3667.674
Skew:                          -0.146   Prob(JB):                         0.00
Kurtosis:                       4.244   Cond. No.                     2.03e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 2.27e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [185]:
data.rename(columns = {'Very Good':'Very_Good'}, inplace = True)

In [187]:
results = smf.ols('logp ~ logc+Fair+Good+Ideal+Premium+Very_Good' , data = data).fit()
print(results.summary())

# not very significant

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.937
Model:                            OLS   Adj. R-squared:                  0.937
Method:                 Least Squares   F-statistic:                 1.607e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:48:48   Log-Likelihood:                -22486.
No. Observations:               53940   AIC:                         4.498e+04
Df Residuals:                   53934   BIC:                         4.504e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     10.0893      0.002   4835.551      0.000      10.085      10.093
logc           1.6958      0.002    887.679      0.000       1.692       1.700
Fair           1.7410      0.008    224.856      0.000       1.726       1.756
Good           1.9765      0.005    419.700      0.000       1.967       1.986
Ideal          2.1987      0.003    753.153      0.000       2.193       2.204
Premium        2.0847      0.003    647.489      0.000       2.078       2.091
Very_Good      2.0884      0.003    618.771      0.000       2.082       2.095
==============================================================================
Omnibus:                      845.283   Durbin-Watson:                   1.275
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             1407.337
Skew:                           0.137   Prob(JB):                    2.52e-306
Kurtosis:                       3.742   Cond. No.                     2.51e+15
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.58e-26. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [152]:
results = smf.ols('logp ~ logc+D+E+F+G+H+I+J+I1+IF+SI1+SI2+VS1+VS2+VVS1+VVS2 ' , data = data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.982
Model:                            OLS   Adj. R-squared:                  0.982
Method:                 Least Squares   F-statistic:                 2.048e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:20:46   Log-Likelihood:                 10582.
No. Observations:               53940   AIC:                        -2.113e+04
Df Residuals:                   53925   BIC:                        -2.100e+04
Df Model:                          14
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      9.6571      0.001   8014.061      0.000       9.655       9.659
logc           1.8785      0.001   1624.988      0.000       1.876       1.881
D              1.6785      0.002    723.412      0.000       1.674       1.683
E              1.5983      0.002    805.275      0.000       1.594       1.602
F              1.5392      0.002    783.966      0.000       1.535       1.543
G              1.4475      0.002    786.662      0.000       1.444       1.451
H              1.3155      0.002    636.418      0.000       1.311       1.320
I              1.1409      0.002    457.288      0.000       1.136       1.146
J              0.9371      0.003    276.456      0.000       0.930       0.944
I1             0.1373      0.007     20.821      0.000       0.124       0.150
IF             1.8142      0.004    413.868      0.000       1.806       1.823
SI1            1.0408      0.002    533.443      0.000       1.037       1.045
SI2            0.8000      0.002    354.086      0.000       0.796       0.804
VS1            1.3658      0.002    599.968      0.000       1.361       1.370
VS2            1.2644      0.002    639.085      0.000       1.260       1.268
VVS1           1.6706      0.003    520.458      0.000       1.664       1.677
VVS2           1.5640      0.003    564.669      0.000       1.559       1.569
==============================================================================
Omnibus:                     2596.931   Durbin-Watson:                   1.234
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             8705.236
Skew:                           0.140   Prob(JB):                         0.00
Kurtosis:                       4.948   Cond. No.                     1.01e+16
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 9.82e-28. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [178]:
# for simplifying model, use less variables
results = smf.ols('logp ~ logc+J+I+D+I1+SI1+SI2+VVS1+IF ' , data = data).fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   logp   R-squared:                       0.977
Model:                            OLS   Adj. R-squared:                  0.977
Method:                 Least Squares   F-statistic:                 2.292e+05
Date:                Wed, 01 Jun 2022   Prob (F-statistic):               0.00
Time:                        08:37:53   Log-Likelihood:                 4662.1
No. Observations:               53940   AIC:                            -9302.
Df Residuals:                   53929   BIC:                            -9204.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     12.5604      0.002   5541.065      0.000      12.556      12.565
logc           1.8555      0.001   1462.259      0.000       1.853       1.858
J             -0.5403      0.004   -122.718      0.000      -0.549      -0.532
I             -0.3365      0.003   -103.411      0.000      -0.343      -0.330
D              0.1932      0.003     65.321      0.000       0.187       0.199
I1            -1.2962      0.008   -153.014      0.000      -1.313      -1.280
SI1           -0.3940      0.003   -141.492      0.000      -0.400      -0.389
SI2           -0.6254      0.003   -197.748      0.000      -0.632      -0.619
VVS1           0.2183      0.004     52.257      0.000       0.210       0.226
IF             0.3471      0.006     61.819      0.000       0.336       0.358
VS2           -0.1667      0.003    -59.650      0.000      -0.172      -0.161
==============================================================================
Omnibus:                     1780.230   Durbin-Watson:                   1.293
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             4272.707
Skew:                           0.164   Prob(JB):                         0.00
Kurtosis:                       4.339   Cond. No.                         11.8
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

#Conclusion:

We got a final model for predicting price of diamond, but as we can see,
almost all interpretable ratio fall on the same variable: logc.So try  transformation on this dataset is very important.

So if you want to estimate price of a diamond, weight is more important than
all the other elements.